APP_ENV=development # development | production
LOG_LEVEL=debug # debug | info | warn | error

JWT_SECRET=

DB_HOST=
DB_USER=
DB_NAME=
DB_PASSWORD=

REDIS_HOST=
REDIS_PASSWORD=
EVENT_REDIS_HOST=
EVENT_REDIS_PASSWORD=
EVENT_REDIS_DB=

ALERT_TELEGRAM_BOT_TOKEN=
ALERT_TELEGRAM_CHAT_ID=
ALERT_WEBHOOK_URL=
